.containar_principal {
    background-color: black;
    font-size: 14vh;
    margin-top: 15px;
    text-align: center;
    padding: 30px;
    margin-left: 2%;
    margin-right: 2%;
    font-family: "Gupter", serif;
    font-weight: 700;
    font-style: normal;
    grid-gap: 20px 20px;
    justify-content: center;


}



.container_icon,
.seis,
.cinco,
.cuatro,
.tres,
.dos,
.uno {

    height: 20vh;
    background-color: rgb(21, 21, 21);
    color: white;
    border-radius: 20px;
    box-shadow: 3px 5px 5px 4px grey;



}